$grey-color: #a5a5a5;
$grey-color-light: #cccccc;
$light-blue: #bde6ff;
$border-color: #d8d8d8;
$border-color-dark: #3a3a3a;

$primary-text-color: #f0f0f0;
$secondary-text-color: #bebebe;
$tertiary-text-color: rgb(149, 146, 160);

$dark-theme-sidebar-bg-color: hsl(237.4, 18.7%, 6.5%);
$dark-theme-bg-color: hsl(237.4, 18.7%, 8%);
$card-bg-color: hsl(237.4, 18.7%, 9.5%);
$card-bg-hover-color: hsl(237.4, 18.7%, 8%);

$accent: hsl(240, 65%, 75%);
$dark-theme-selection-bg-color: hsl(237.4, 18.7%, 18%);
