@import '~include-media/dist/_include-media.scss';

$breakpoints: (
  xxsmall: 320px,
  xsmall: 480px,
  small: 736px,
  medium: 980px,
  large: 1280px,
  xlarge: 1800px
);

@mixin browser($browsers: Mozilla) {
  @each $browser in $browsers {
    div.root[data-browser*="#{$browser}"] & {
      @content;
    }
  }
}