// Card Styles
.card {
  border-radius: 6px;
  margin-bottom: 10px;
  background: $card-bg-color;
  border: 1px solid transparent;
  transition: transform 0.2s ease, border 0.2s ease;

  &:hover,
  &:active {
    cursor: pointer;
    transform: translateY(-2px);
    border: 1px solid $accent;
  }

  .cardLink {
    text-decoration: none;
    color: currentColor;
    display: flex;
    height: 100%;
  }

  .cardLink,
  .cardLink:active,
  .cardLink:focus,
  .cardLink:focus-visible {
    outline: none; /* Works in Firefox, Chrome, IE8 and above */
  }

  .cardLink .cardContent {
    padding: 15px;
  }

  @include media(">=medium") {
    margin-right: 10px;
  }
}

.smallCard {
  @include media(">=medium") {
    min-width: 300px;
  }
}

