.card {
  width: 100vw;
  border-radius: 6px;
  margin-bottom: 20px;
  background: $card-bg-color;
  border: 1px solid transparent;
  transition: transform 0.2s ease, border 0.4s ease;

  &:hover,
  &:active {
    cursor: pointer;
    transform: translateY(-2px);
    border: 1px solid $accent;
  }

  .card-link {
    text-decoration: none;
    color: currentColor;
    display: flex;
    height: 100%;
  }

  .card-link,
  .card-link:active,
  .card-link:focus,
  .card-link:focus-visible {
    outline: none; /* Works in Firefox, Chrome, IE8 and above */
  }

  .card-link .card-content {
    padding: 25px;
  }

  @include media(">=medium") {
    margin-right: 20px;
    min-width: 430px;

    @include browser(Mozilla) {
      min-width: 333px;
    }

    @include browser(Chrome) {
      min-width: 380px;
    }
  }
}
