.spinner {
  text-align: center;
  padding-bottom: 20px;
}

.spinner svg {
  width: 50px;
  height: 50px;
  /* text-align: center; */
  /* margin: 0 auto; */
}

.post {
  border-radius: 6px;
  margin-bottom: 20px;
  background: $card-bg-color;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 0px !important;
  border: 1px solid transparent;
  transition: transform 0.2s ease, border 0.4s ease;

  &:hover,
  &:active {
    cursor: pointer;
    transform: translateY(-2px);
    border: 1px solid $accent;
  }

  .post__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $dark-theme-selection-bg-color;
    width: 200%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .post__text {
    padding: 1em 0.5em;
    line-height: 1.75em;
  }

  .post__text .post__text-title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.75em;
    margin: 10px 0px;
    letter-spacing: 0px;
  }

  .post__text .post__text-description {
    color: $secondary-text-color;
  }

  @include media(">=large") {
    .post__image {
      background-size: cover;
    }
  }

  @include media(">=medium") {
    margin-right: 20px;
    min-width: 430px;

    @include browser(Mozilla) {
      min-width: 333px;
    }

    @include browser(Chrome) {
      min-width: 380px;
    }
  }

  @include media("<=small") {
    flex-direction: column;

    .post__text {
      padding: 0px 25px;
    }

    .post__image {
      height: 200px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 0px;
      width: 100%;
    }
  }
}

.post-link {
  text-decoration: none;
  color: $primary-text-color;
}

.post-link,
.post-link:active,
.post-link:focus,
.post-link:focus-visible {
  outline: none; /* Works in Firefox, Chrome, IE8 and above */
}
