@import "../../assets/scss/main.scss";
@import "./card.scss";
@import "./post.scss";

.section-item {
  .title {
    padding-top: 8px;
    font-size: 2.6rem;
  }

  .duration {
    margin: 0;
    font-size: 15px;
    color: rgb(149, 146, 160);
  }

  .content {
    color: $secondary-text-color;
    font-size: 1.65rem;
    line-height: 2em;
  }

  @include media(">=medium", "<large") {
    .image {
      height: 110px;
    }
  }

  @include media("<=medium", ">xsmall") {
    .image {
      height: 140px;
    }
  }

  @include media("<=xsmall") {
    .image {
      height: 160px;
    }
  }
}

// .project {
//   @include media(">=medium") {
//     max-width: 333px !important;
//   }
// }
