@import "../../assets/scss/main.scss";

.section {
  margin-bottom: 55px;

  h6 {
    font-size: 2rem;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  @include media(">small", "<=medium") {
    margin-bottom: 15px;
  }
}

.sectionUnits {
  margin-top: 10px;
  width: 100%;
}

.sectionTitle {
  padding-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $tertiary-text-color;
  font-weight: 500;
  line-height: 2em;
}
